In [1]:
import pandas as pd

In [3]:
path = "./hate-crime-complaints-annual-2020.csv"
df = pd.read_csv(path, header = 5)
df

   Precinct  Murder Complaints  Felony Assault Complaints
0       NaN                NaN                        NaN
1       001                0.0                        0.0
2       005                0.0                        0.0
3       006                0.0                        0.0
4       007                0.0                        0.0
..      ...                ...                        ...
74      120                0.0                        0.0
75      121                0.0                        0.0
76      122                0.0                        0.0
77      123                0.0                        0.0
78    Total                1.0                       20.0

[79 rows x 3 columns]

In [4]:
#Remove first row. 
df = df.drop(index=[0])

In [5]:
#Remove last row. 
df = df.drop(index=[78])

In [6]:
#export updated dataframe to CSV
df.to_csv("hate-crime-complaints-annual-2020.csv", index=False)