In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import re

In [17]:
path = "./hate_crime_complaints_annual_2018.csv"
df = pd.read_csv(path, header = 5)
df

   Precinct  Murder Complaints  Felony Assault Complaints
0       NaN                NaN                        NaN
1         1                0.0                        0.0
2         5                0.0                        0.0
3         6                0.0                        2.0
4         7                0.0                        1.0
..      ...                ...                        ...
74      120                0.0                        3.0
75      121                0.0                        0.0
76      122                0.0                        1.0
77      123                0.0                        0.0
78    Total                0.0                       32.0

[79 rows x 3 columns]

In [18]:
#Remove first row. 
df = df.drop(index=[0])

In [19]:
df.head()

  Precinct  Murder Complaints  Felony Assault Complaints
1        1                0.0                        0.0
2        5                0.0                        0.0
3        6                0.0                        2.0
4        7                0.0                        1.0
5        9                0.0                        0.0

In [20]:
df.dtypes

Precinct                      object
Murder Complaints            float64
Felony Assault Complaints    float64
dtype: object

In [21]:
df.tail()

   Precinct  Murder Complaints  Felony Assault Complaints
74      120                0.0                        3.0
75      121                0.0                        0.0
76      122                0.0                        1.0
77      123                0.0                        0.0
78    Total                0.0                       32.0

In [23]:
#Save the updated dataframe to CSV
df.to_csv("hate_crime_complaints_annual_2018.csv", index=False)